<turbo-frame id="local_data">
	<div>
		<h2>Informations détaillées
			{{ category }}</h2>
		<h3>{{ name }}</h3>
		<p>Adresse : {{ address }}</p>
		{% for key, value in datas %}
			<p>{{ key }}
				:
				{{ value }}</p>
		{% endfor %}
	</div>
</turbo-frame>
