<turbo-frame id="local_data">
	<div>
		<h2 class="text-2xl font-bold">Informations détaillées
			{{ category }}</h2>
		<h3 class="text-xl font-bold">{{ name }}</h3>
		<p>Adresse : {{ address }}</p>

		<p>Raw datas :</p>
		{% for key, value in datas %}
			<p>{{ key }}
				:
				{{ value }}</p>
		{% endfor %}
	</div>
</turbo-frame>
