<turbo-frame id="local_data">
	<div>
		<h2 class="text-2xl font-bold">Informations détaillées
			{{ category }}</h2>
		<h3 class="text-xl font-bold">{{ name }}</h3>
		{% if address %}
			<p>Adresse : {{ address }}</p>
		{% endif %}

		{% if phone %}
			<p>Téléphone : {{ phone }}</p>
		{% endif %}

		{% if website %}
			<p>Site web : <a href="{{ website }}" class="text-blue-500 hover:underline">{{ website }}</a></p>
		{% endif %}

		{% if instagram %}
			<p>Instagram : <a href="{{ instagram }}" class="text-blue-500 hover:underline">{{ instagram }}</a></p>
		{% endif %}

		{% if facebook %}
			<p>Facebook : <a href="{{ facebook }}" class="text-blue-500 hover:underline">{{ facebook }}</a></p>
		{% endif %}

		<br>
		<p>Remaining raw datas :</p>
		{% for key, value in datas %}
			<p>{{ key }}
				:
				{{ value }}</p>
		{% endfor %}
	</div>
</turbo-frame>
