{% extends 'base.html.twig' %}

{% block title %}Mes Réservations{% endblock %}

{% block body %}
    <h1>Mes réservations</h1>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <ul>
        {% for reservation in reservations %}
            <li>
                {{ reservation.evenement.nom }}

                <a href="{{ path('app_evenement_show', { id: reservation.evenement.id }) }}">
                    Voir l'évènement
                </a>

                <form method="post"
                    action="{{ path('app_reservation_delete', { id: reservation.id }) }}"
                    style="display:inline;">
                    <button type="submit"
                            onclick="return confirm('Êtes-vous sûr de vouloir annuler cette réservation ?');">
                        Annuler
                    </button>
                </form>
            </li>
        {% else %}
            <p>Aucune réservation</p>
            <a href="{{path('app_evenements')}}" data-turbo="false">Voir le calendrier</a>
        {% endfor %}
    </ul>
{% endblock %}
